{% extends "base.html" %}
{% block content %}
	<div class="container">
		{% for data in usr_dat[1] %}
			{% if usr_dat[1][data]['branch'] == 'cse' %}
				<div class="card m-3">
					<div class="card-body">
						<h5 class="card-title">{{usr_dat[1][data]['question']}}</h5>
						<a href="{{url_for('Question',hashid = data)}}" class="btn btn-primary">Read Answer</a>
						<p class="card-text">
							<small class="text-muted">
							Asked By : {{ usr_dat[0][usr_dat[1][data]["answered_by"]]["user_name"]}},
							({{ usr_dat[0][usr_dat[1][data]["answered_by"]]["user_type"] }}),
							{{usr_dat[1][data]["anstime"]}},
							{{usr_dat[1][data]["qnstime"]}}
							</small>
						</p>
					</div>
				</div>
			{% endif %}
		{% endfor %}
		
	</div>
{% endblock %}