{% extends "base.html" %}
{%block content %}
<div class="container">
	<form method="post" >
		<div class="input-group input-group-lg mt-5">
			<input type="text" placeholder="Ask anything" class="form-control" id = 'question' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name = "question">
		</div>
		<div>
			<center>
			<button id = 'btn' onclick="handler()" class="btn btn-primary mt-3 submit_button" type="submit">Ask Now</button>
			</center>
		</div>
	</form>
	<script type="text/javascript">
		let btn = document.getElementById('btn');
		{% if usr_dat[-1] == "Guest" %}
			btn.innerHTML = "Login Now";
			function handler(argument) {
			window.location.assign("{{url_for('login')}}");
			}
		{% else %}
			function handler (argument) {
			{% if usr_dat[0][usr_dat[-1]]['user_type'] == 'student' %}
					window.location.assign("{{url_for('asknow',uid = usr_dat[-1])}}")
			{% else %}
					window.location.assign("{{url_for('index')}}");
			{% endif %}
												}
	{% endif %}
	</script>
</div>
<div class="container mt-5">
	<legend class="border border-success ">
		<b>Recently asked Questions</b>
		{% for qid in usr_dat[1] %}
			{% if usr_dat[1][qid]['answer'] %}
				<div class="card m-2">
					<div class="card-body">
						<h5 class="card-title">{{usr_dat[1][qid]["question"]}}</h5>
						<p class="card-text">
							<small class="text-muted">
							Asked By : {{ usr_dat[0][usr_dat[1][qid]["asked_by"]]["user_name"]}},
							{{usr_dat[1][qid]["qnstime"]}}
							{% if usr_dat[1][qid]["answered_by"] == '' %}
								<br>Not answered  Yet<br>
							{% else %}
								<br>
								Answered By : {{usr_dat[0][usr_dat[1][qid]["answered_by"]]["user_name"] }}
								({{ usr_dat[0][usr_dat[1][qid]["answered_by"]]["user_type"] }}),
								{{usr_dat[1][qid]["anstime"]}} <br>
								<a href="{{ url_for('Question',hashid = qid)}}" class="btn btn-primary text-center">Read Answer </a>
							{% endif %}
							</small>
						</p>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</legend>
</div>
{% endblock %}