{% extends "base.html" %}
{% block content %}
	<div class="container">
		<div class="card m-2">
			<div class="card-body">
				<h5 class="card-title">{{usr_dat[1][qid]["question"]}}</h5>
				<p class="card-text">{{usr_dat[1][qid]["answer"]}}</p>
				<p class="card-text">
					<small class="text-muted">
					Asked By : {{ usr_dat[0][usr_dat[1][qid]["asked_by"]]["user_name"]}},
					{{usr_dat[1][qid]["qnstime"]}}
					{% if usr_dat[1][qid]["answered_by"] == '' %}
						<br>Not ansered Yet<br>
					{% else %}
						<br>
						Answered By : {{usr_dat[0][usr_dat[1][qid]["answered_by"]]["user_name"] }}
						({{ usr_dat[0][usr_dat[1][qid]["answered_by"]]["user_type"] }}),
						{{usr_dat[1][qid]["anstime"]}}
					{% endif %}
					</small>
				</p>
			</div>
		</div>
	</div>
{% endblock %}